<div class="max-w-lg mx-auto mt-16 text-center">
  <h1 class="mb-4 text-3xl font-black text-blue-600">
    <a href="/admin">Go to Admin Panel</a>
  </h1>

  <h1 class="mb-4 text-3xl font-black text-blue-600">
    <a href="/sidekiq">Sidekiq</a>
  </h1>
</div>
